<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    #parse("/common/navbar-header.vm")
    <!-- /.navbar-header -->

    #parse("/common/navbar-top.vm")
    <!-- /.navbar-top-links -->

    #parse("/common/navbar-sidebar.vm")
    <!-- /.navbar-static-side -->
</nav>